*{
    margin: 0;
    padding: 0;
}
body{
    font-family: "Roboto", sans-serif;
}
.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 70px 50px 60px;
    max-width: 90vw;
    margin: auto;
}
.head{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.head-2{
    margin-top: 70px;
}
.logo-img{
    width: 350px;
    
}
.store-img{
    width: 200px;
    margin: 0 5px;
    cursor: pointer;
}
.top-screen-img img{
    height: 500px;
}
.items-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    margin: 0 0 60px 0;
}
.items-content h2{
    letter-spacing: 4px;
}
.items-content p{
    color: grey;
    font-size: 20px;
}
.div2{
    max-width: 90vw;
    margin: auto;
}
.div2-1{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.div2-2{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.sec-screen-content{
     font-weight: 300;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.thh-screen-content{
     font-weight: 300;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.for-screen-content{
    font-weight: 300;
    font-size: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
.sec-screen-content h4{
    letter-spacing: 10px;
    margin-bottom: 20px;

}
.thh-screen-content h4{
    letter-spacing: 10px;
    margin-bottom: 20px;

}
.for-screen-content h4{
    letter-spacing: 10px;
    margin-bottom: 20px;

}
.sec-screen-content p{
    color: #666;
    letter-spacing: 2px; 

}
.thh-screen-content p{
    color: #666;
    letter-spacing: 2px; 

}
.for-screen-content p{
    color: #666;
    letter-spacing: 2px; 
}
.div3{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    max-width: 90vw;
    margin: auto;
}
.for-screen-content img{
    margin :0 70px 100px 0;
}
.for-screen-img{
    margin-top: 50px;
}

.footer{
        

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    gap: 2rem;
    margin-bottom: 1rem;
    max-width: 90vw;
    margin-top: 60px;
}
.footer-heading p{
Color: #4b4848 

}

.footer-para{
    font-size: 20px;
    color: #4D4D4D;
}
.footer-para span{
    color: rgb(23, 122, 221);
    cursor: pointer;
}